.blue {
    /*
    background: linear-gradient(to right, #add8e6, #ffffff) !important;
     */
    border-bottom: 1px solid #BEBEBE !important;

}

* {
    box-sizing: border-box !important;
}

.uk-button-primary {
    border-radius: 5%;
}

.login:hover,
.login:focus {
    background-color: rgba(90,90,90,.75);
}